<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Consumidores</title>
</head>
<body>
    <h1>Lista de Consumidores</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Documento</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Consumo</th>
                <th>Tipo</th>
                <th>Valor de Cobertura</th>
                <th>Taxa do Distribuidor</th>
            </tr>
        </thead>
        <tbody>
            {% for consumer in consumers %}
            <tr>
                <td>{{ consumer.pk }}</td>
                <td>{{ consumer.name }}</td>
                <td>{{ consumer.document }}</td>
                <td>{{ consumer.city }}</td>
                <td>{{ consumer.state }}</td>
                <td>{{ consumer.consumption }}</td>
                <td>{{ consumer.consumer_type }}</td>
                <td>{{ consumer.cover_value }}</td>
                <td>{{ consumer.distributor_tax }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
